
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Global base styles */
body {
    background-color: #FDFDFC;
    color: #1b1b18;
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
}

a {
    color: #f53003;
    text-decoration: underline;
}

a:hover {
    color: #d12700; /* slightly darker red */
}
